<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{get_url(path='icons/favicon/favicon.ico', cachebust=true)}}">
    <link href="/styles/output.css" rel="stylesheet">

    <title>Horeb-log</title>
</head>


<body>
    <section class="section">
        <div class="w-full">
            {% block content %} {% endblock content %}
        </div>
    </section>
</body>

</html>
